@import "tailwindcss";





/* Client Testimonials Section Styles */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Animate the container to scroll left infinitely */
.animate-scroll {
  animation: scroll 40s linear infinite;
}

/* Optional: hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}