@import "tailwindcss";

/* global.css*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (min-width: 1000px) {
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
}

::selection {
  background-color: #0dff00;
  color: #000000;
}
::-moz-selection{
  background-color: #0dff00;
  color: #000000;
}



html {
  scroll-behavior: smooth;
}



/* Client Testimonials Component */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Animate the container to scroll left infinitely */
.animate-scroll {
  animation: scroll 40s linear infinite;
}

/* Optional: hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}




/* Scroll Fade In Animation */
@theme{
  --animate-fadein:fadein 1s ease-out forwards;

  @keyframes fadein {
    0%{
      opacity:0;
    }
    100%{
      opacity:100;
    }
  }
}